# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# IDE
.vscode/
.idea/

node_modules/
.env.local
.env


frontend/node_modules
frontend/node_modules/

# OS
.DS_Store
Thumbs.db

# Python Cache
.pytest_cache/
.mypy_cache/

# Logs
*.log

# Uploads
uploads/

# MongoDB
*.db

# Build
dist/
build/

# Coverage
.coverage
htmlcov/